<h2>Create a new glossary: </h2>
<form class="" action="/glossaries" method="post">
	<p><label for="title">Glossary title: </label></p>
	<p><input type="text" name="title" value=""></p>
	<input type="submit" value="Create"></p>
</form>