<h2>Welcome to Your Custom Glossaries!</h2>
<h3>Please log in to see your glossaries:</h3>


<form action='/login' method='post'>
	<p><label for="email">Email: </label></p>
	<p><input type="text" name="email" value=""></p>
	<p><label for="password">Password: </label>
	<p><input type="password" name="password" value=""></p>
	<input type="submit" value="Login"></p>
</form>

<br></br>

	<a href="/">Back</a>

