<h2>Sign up by entering your details: </h2>
	<form class="" action="/users" method="POST">
		<p><label for="name">Enter your name: </label></p>
		<p><input type="text" name="name" value=""></p>
		<p><label for="email">Enter your email: </label></p>
		<p><input type="text" name="email" value=""></p>
		<p><label for="password">Enter your password: </label></p>
		<p><input type="password" name="password" value=""></p>
		<p><input type="submit" name="" value="Create User"></p>
	</form>

	<br></br>

	<a href="/">Back</a>